.error{
    color: red;
}
a{
    color: deepskyblue;
}
ul.tree{
    list-style-type: none;
    margin-left: 3%;
}
 ul.tree ul {
    list-style-type: none;
}
 ul.tree ul li {
    padding: 7px;
}
.hide-child{
   border-radius: 5px 5px 5px 5px;
    background: transparent;
    border: 1px solid #cccccc;
  margin-right: 3px;
}
li.current a {
    color: red;
}
li.current ul li a{
    color: deepskyblue;
}
input[type=submit]
{
    background-color: #0000cc;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select {
    padding: 6px 10px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: center;

}
textarea{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 8px;
}





