body {
    margin: 0;
}
table,td,th{

    padding: 5px;
    overflow: auto;
    text-align: center;
}
table{
    margin: 1%;
    border-radius: 3% 3% 3% 3%;
}
table input[type=text],input[type=password]{
    border-radius: 5px;
}
input[type=submit]{
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
}
a:active{
    background-color: gray;
}


