body {
    margin: 0;
}
table,td,th{

    padding: 5px;
    overflow: auto;
    text-align: center;
}
table{
    margin: 1%;
    border-radius: 3% 3% 3% 3%;
}
table input[type=text],input[type=password] {
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}


input[type=submit]{
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
    background-color: #0000cc;
    color: white;
    border: none;

}
a:active{
    background-color: gray;
}


