body{
    margin-right: 20%
}
div.task-form{
    float: left;
    height: 100%;
    width: 30%;
    border-right: 1px solid gray;
    padding-right: 2%;

}
div.task-form label{
    font-size: large;
    font-weight: bold;
}
div.task-form input[type=text] {
    width: 100%;

}
div.task-form select {
    width: 100%;
}


div.task-form textarea{
    width: 100%;
}

div#table-container table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;

}
div#table-container table thead th{
    background-color: #0000cc;
    color: white;
    padding: 10px 50px;
}
div#table-container table td{
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
div#menu-container {
    margin-left: 45%;
    width: 80%;
    margin-top: 0;
}
div.actions{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
}
div.actions a{
float: right;

}
div.actions a:hover{
    color: red;
}

.delete-button{
    width: 28px;
    height: 28px;
    background: url(../images/ic_action_remove.png) no-repeat;
    border: transparent;

}
.copy-button{
    width: 28px;
    height: 28px;
    background: url(../images/ic_action_copy.png) no-repeat;
    border: transparent;
}

form {
    display: inline;
}
input[type=submit] {
    width: 31%;
}
